@font-face {
    font-family: 'Pixeboy-z8XGD';
    src: url(/LETRA/Pixeboy-z8XGD.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-image: url(/img/Fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Texto de la h1 */

h1 {
    margin: 60px 0px;
    text-align: center;
    font-family: 'Pixeboy-z8XGD';
    font-size: 60px;
    color: white;
    width: 100%;
}

/* style formulario */
form {
    width: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
    padding: 10px;
}

.content-page {
    display: flex;
    flex-direction: column;
}

.content-page .musica {
    display: flex;
    align-items: flex-end;
}

.busqueda {
    margin-bottom: 100px;
}

.musica {
    margin-bottom: 50px;
}

/* style de la carta */
.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.TopPart {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}

/* musica */
.music-player-container {
    background: linear-gradient(30deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85));
    backdrop-filter: blur(10px);
    height: fit-content;
    width: 35vw;
    border-radius: 10px;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
    margin: 0px 20px;
}



.title-music-container {
    width: 88%;
    height: 80%;
    width: fit-content;
    color: white;
    margin-right: auto;
    margin-left: 10%;
}

.song-title {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.song-autor {
    margin-top: 0.1rem;
    font-size: 12px;
    color: rgb(167, 167, 167);
    letter-spacing: 0.1px;
}

.controls-music-container {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-song-container {
    margin-top: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-bar {
    height: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: rgb(102, 102, 102);
    position: relative;
}

.progress {
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background-color: white;
}

.time-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(167, 167, 167);
    font-size: 12px;
}

.time-left {
    margin-top: 0.3rem;
    color: white;
}

.main-song-controls {
    height: 30px;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    height: 100%;
    width: auto;
    opacity: 0.6;
    cursor: pointer;
}

.icon:hover {
    opacity: 1;
}

audio {
    display: none;

}

/* footer */
footer {
    background-color: rgb(255, 255, 255);
    margin-top: auto;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copyright p {
    text-align: center;
    padding: 20px 0;
}

/* media screen */
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {


    /* musica */
    .music-player-container {
        width: 60vw;
    }

}

/* movil */
@media screen and (max-width:767px) {
    .busqueda {
        margin-bottom: 65px;
    }

    .music-player-container {
        width: 96vw;
    }
}